/bin/
/target/
/.settings/
.project
.classpath

### Eclipse ###
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# IDE files #
#############
nbproject
.~lock.*
.buildpath
/.idea/